# Airtable Configuration
AIRTABLE_API_KEY=patxbDkv88pOMXmYx.c7e5fd7974954e3a674087090835d11dd69504f3912f0ef86c3c59f1e91febdd
AIRTABLE_BASE_ID=apptYNRJTXwItvied
AIRTABLE_BOOKINGS_TABLE_ID=tblKMhGnYjsH0z7Lj

# Hostinger SMTP Configuration
SMTP_USER=support@agentrocketman.com
SMTP_PASSWORD=AgentEmail1!
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465

# Server Configuration
PORT=3000
NODE_ENV=production
